RewriteEngine on

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://test.elmali.co/$1 [R,L]

#RewriteCond %{HTTPS} off

#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RemoveHandler .html .htm
AddHandler application/x-httpd-php .php .htm .html
AddType  application/x-httpd-php .php .htm .html

#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
